@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

p {
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-Bold.eot");
  src: local("Noir Pro Bold"), local("NoirPro-Bold"), url("../fonts/NoirPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-Bold.woff2") format("woff2"), url("../fonts/NoirPro-Bold.woff") format("woff"), url("../fonts/NoirPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-BoldItalic.eot");
  src: local("Noir Pro Bold Italic"), local("NoirPro-BoldItalic"), url("../fonts/NoirPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-BoldItalic.woff2") format("woff2"), url("../fonts/NoirPro-BoldItalic.woff") format("woff"), url("../fonts/NoirPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-SemiBoldItalic.eot");
  src: local("Noir Pro Semi Bold Italic"), local("NoirPro-SemiBoldItalic"), url("../fonts/NoirPro-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-SemiBoldItalic.woff2") format("woff2"), url("../fonts/NoirPro-SemiBoldItalic.woff") format("woff"), url("../fonts/NoirPro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-LightItalic.eot");
  src: local("Noir Pro Light Italic"), local("NoirPro-LightItalic"), url("../fonts/NoirPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-LightItalic.woff2") format("woff2"), url("../fonts/NoirPro-LightItalic.woff") format("woff"), url("../fonts/NoirPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-Heavy.eot");
  src: local("Noir Pro Heavy"), local("NoirPro-Heavy"), url("../fonts/NoirPro-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-Heavy.woff2") format("woff2"), url("../fonts/NoirPro-Heavy.woff") format("woff"), url("../fonts/NoirPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-Italic.eot");
  src: local("Noir Pro Italic"), local("NoirPro-Italic"), url("../fonts/NoirPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-Italic.woff2") format("woff2"), url("../fonts/NoirPro-Italic.woff") format("woff"), url("../fonts/NoirPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-Medium.eot");
  src: local("Noir Pro Medium"), local("NoirPro-Medium"), url("../fonts/NoirPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-Medium.woff2") format("woff2"), url("../fonts/NoirPro-Medium.woff") format("woff"), url("../fonts/NoirPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-Regular.eot");
  src: local("Noir Pro"), local("NoirPro-Regular"), url("../fonts/NoirPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-Regular.woff2") format("woff2"), url("../fonts/NoirPro-Regular.woff") format("woff"), url("../fonts/NoirPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-Light.eot");
  src: local("Noir Pro Light"), local("NoirPro-Light"), url("../fonts/NoirPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-Light.woff2") format("woff2"), url("../fonts/NoirPro-Light.woff") format("woff"), url("../fonts/NoirPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-HeavyItalic.eot");
  src: local("Noir Pro Heavy Italic"), local("NoirPro-HeavyItalic"), url("../fonts/NoirPro-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-HeavyItalic.woff2") format("woff2"), url("../fonts/NoirPro-HeavyItalic.woff") format("woff"), url("../fonts/NoirPro-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'NoirPro';
  src: url("../fonts/NoirPro-MediumItalic.eot");
  src: local("Noir Pro Medium Italic"), local("NoirPro-MediumItalic"), url("../fonts/NoirPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NoirPro-MediumItalic.woff2") format("woff2"), url("../fonts/NoirPro-MediumItalic.woff") format("woff"), url("../fonts/NoirPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

.cl-blue-color {
  color: #009AF2;
}

.cl-button-mini {
  display: block;
  line-height: 100%;
  background: #009AF2;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 9px 33px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.cl-button-mini:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cl-button-mini:active {
  background: #007bc2;
}

.title-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

@media (min-width: 1260px) {
  .container {
    max-width: 1200px;
  }
}

.cl-wrapper {
  font-family: 'NoirPro', sans-serif;
  padding-bottom: 100px;
  overflow: hidden;
}

.cl-allpack * {
  line-height: 135%;
}

.cl-allpack {
  position: relative;
  padding-top: 100px;
  padding-bottom: 56px;
  background: url("../img/bg-allpack.svg") 100% 100%/49% no-repeat;
}

.cl-allpack__clean {
  position: absolute;
  width: 309px;
  height: 309px;
  bottom: 0;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-53%, 2%);
          transform: translate(-53%, 2%);
  z-index: 500;
}

.cl-allpack__clean-img {
  width: 100%;
  height: 100%;
}

.cl-allpack__info {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 30px;
}

.cl-allpack__title {
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 30px;
}

.cl-allpack__subtitle {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 50px;
}

.cl-allpack__stat {
  padding-bottom: 50px;
}

.cl-allpack__stat-year {
  padding-right: 70px;
  font-size: 16px;
}

.cl-allpack__stat-year span {
  font-size: 24px;
  font-weight: 700;
}

.cl-allpack__stat-sum {
  font-size: 16px;
}

.cl-allpack__stat-sum span {
  font-size: 24px;
  font-weight: 700;
}

.cl-allpack__price {
  padding-left: 8px;
  padding-bottom: 50px;
}

.cl-allpack__price-off {
  font-size: 20px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  padding-bottom: 10px;
}

.cl-allpack__price-on {
  font-size: 24px;
  padding-bottom: 10px;
}

.cl-allpack__price-text {
  font-size: 14px;
}

.cl-allpack__group-title {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

.cl-allpack__group {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
}

.cl-allpack__group-left li, .cl-allpack__group-right li {
  margin-left: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.cl-allpack__group-left li:first-child, .cl-allpack__group-right li:first-child {
  padding-bottom: 20px;
}

.cl-allpack__group-left li::before, .cl-allpack__group-right li::before {
  content: "";
  width: 3px;
  height: 3px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
}

.cl-form {
  max-width: 483px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.cl-form__body {
  position: relative;
}

.cl-form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.cl-form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.cl-form__title {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

.cl-form__item {
  margin: 0 0 24px 0;
}

.cl-form__item-input {
  border-bottom: 1px solid #E5E5E5;
}

.cl-form__item-input-tarif .__select._red {
  position: relative;
  z-index: 10010;
  background: #fff;
  margin-bottom: 40px;
  border-bottom: 1px solid transparent;
}

.cl-form__block {
  padding: 0 22px 0;
  font-size: 16px;
}

.cl-form__input {
  width: 100%;
  padding: 6px 10px;
  font-weight: 300;
  border-bottom: 1px solid transparent;
}

.cl-form__input._error {
  border-bottom: 1px solid red;
}

.cl-form__input::-webkit-input-placeholder {
  color: #E5E5E5;
}

.cl-form__input:-ms-input-placeholder {
  color: #E5E5E5;
}

.cl-form__input::-ms-input-placeholder {
  color: #E5E5E5;
}

.cl-form__input::placeholder {
  color: #E5E5E5;
}

.cl-form__button {
  margin-bottom: 40px;
  background: #009AF2;
  border-radius: 10px;
  padding: 15px 72px;
  color: #FFFFFF;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: relative;
  z-index: 1000;
}

.cl-form__button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cl-form__button:active {
  background: #007bc2;
}

.cl-form__pact {
  font-size: 13.5px;
  text-align: center;
}

.cl-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-checkbox__input {
  display: none;
}

.cl-checkbox__input:checked + .cl-checkbox__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cl-checkbox__label {
  margin: 0 10px 0 2px;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1000;
}

.cl-checkbox__label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 10px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
}

.cl-checkbox__label::after {
  -webkit-transition: -webkit-transform .3s ease 0s;
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s, -webkit-transform .3s ease 0s;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #888;
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.__select {
  position: relative;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  z-index: 1;
}

.__select[data-state="active"] .__select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}

.__select[data-state="active"] .__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}

.__select[data-state="active"] .__select__content {
  border-width: 1px;
  border-color: #c7ccd1;
}

.__select[data-state="active"] .__select__label {
  max-height: 45px;
  border-width: 1px;
}

.__select[data-state="active"] .__select__label::before {
  opacity: 1;
}

.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 4px 10px;
  border-bottom: 1px solid #E5E5E5;
  color: #E5E5E5;
  cursor: pointer;
  z-index: 2;
}

.__select__title::before, .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #97979760;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}

.__select__title:hover {
  border-color: #C7CCD160;
}

.__select__title:hover::before, .__select__title:hover::after {
  background-color: #333333;
}

.__select__title._error {
  border-bottom: 1px solid red;
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 1;
}

.__select__input {
  display: none;
  pointer-events: none;
}

.__select__input:checked + label {
  background-color: #dedede;
}

.__select__input:checked + label::after {
  content: attr(data-value);
}

.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 45px;
  max-height: 0;
  padding: 0 10px;
  border-radius: 3px;
  margin-bottom: 0px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.__select__label + input + .__select__label {
  border-top: 0 solid #C7CCD160;
}

.__select__label:hover {
  background-color: #C7CCD160 !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.__select__label::before {
  content: attr(data-value);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
}

.__select__label::after {
  position: absolute;
  top: -40px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
  padding: 8px 10px;
  color: #333333;
  z-index: -1;
}

.cl-steps {
  margin-top: 106px;
}

.cl-steps .container p {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.cl-line {
  margin-top: 90px;
  border: 1px solid #E5E5E5;
}

.cl-line__relative {
  position: relative;
  width: 100%;
}

.cl-line__absolute-1 {
  position: absolute;
  bottom: -8px;
  left: 33%;
}

.cl-line__absolute-2 {
  position: absolute;
  bottom: -8px;
  right: 33%;
}

.cl-short {
  margin-top: 30px;
}

.cl-short__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cl-short__step::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -36px;
  left: 49%;
  border-radius: 50%;
  background: #009AF2;
}

.cl-short__step-3 .cl-short__step-title {
  max-width: 200px;
}

.cl-short__step-title {
  font-size: 16px;
  color: black;
  font-weight: 500;
  text-align: center;
}

.cl-short__step-button {
  background: #009AF2;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 9px 33px;
  margin-top: 18px;
}

.cl-step-1__brand-name {
  margin-top: 100px;
}

.cl-step-1__brand-name p {
  text-align: center;
  padding-bottom: 40px;
}

.cl-step-1__video-title {
  padding-bottom: 40px;
}

.cl-step-1__video {
  border-radius: 20px;
  overflow: hidden;
}

.cl-step-1__video .video_wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #000;
}

.cl-step-1__video .video_wrapper_full {
  padding-top: 64.1%;
}

.cl-step-1__video .videoIframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.cl-step-1__video .videoPoster {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../img/brand-prev.png");
  background-size: 100%;
  border: none;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

.cl-step-1__video .videoPoster:hover {
  cursor: pointer;
}

.cl-step-1__video .videoPoster:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 15%;
  height: 22%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cl-step-1__video .videoPoster:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 6%;
  height: 14%;
  background: url("../img/play-triang.svg") 50% 50% no-repeat;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-size: contain;
}

.cl-step-1__video .videoPoster:hover:before, .cl-step-1__video .videoPoster:focus:before {
  border-color: #0380C8;
  -webkit-box-shadow: 0px 0px 16px 5px rgba(34, 60, 80, 0.4);
  box-shadow: 0px 0px 16px 5px rgba(34, 60, 80, 0.4);
}

.cl-step-1__video .videoPoster:hover:after, .cl-step-1__video .videoPoster:focus:after {
  border-left-color: #0380C8;
}

.cl-step-1__video .videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}

.cl-step-1__partners-title {
  text-align: right;
  padding-bottom: 40px;
}

.cl-step-1__partners {
  width: 100%;
  height: auto;
}

.cl-step-1__partners img {
  width: 100%;
}

.cl-step-2__brand-type {
  margin-top: 100px;
  text-align: center;
}

.cl-step-2__clining, .cl-step-2__sale, .cl-step-2__accounting, .cl-step-2__marketing {
  border: 4px solid #009AF2;
  border-radius: 20px;
  margin-top: 60px;
  padding: 40px 15px;
}

.cl-step-2 .col-6.cl-step-2__clining-block,
.cl-step-2 .col-6.cl-step-2__sale-block {
  padding-right: 30px;
  padding-left: 0;
}

.cl-step-2 .col-6.cl-step-2__marketing-block,
.cl-step-2 .col-6.cl-step-2__accounting-block {
  padding-left: 30px;
  padding-right: 0;
}

.cl-step-2__clining-title, .cl-step-2__sale-title, .cl-step-2__accounting-title, .cl-step-2__marketing-title {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 25px;
}

.cl-step-2__bottom-title {
  font-size: 16px;
  line-height: 19px;
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
}

.cl-step-2__times {
  margin-top: 20px;
}

.cl-step-2__times-content {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-step-2__bottom-text-l, .cl-step-2__bottom-text-r {
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  margin-left: 20px;
}

.cl-step-2 .col-6.cl-card-l {
  padding-right: 5px;
}

.cl-step-2 .col-6.cl-card-r {
  padding-left: 5px;
}

.cl-step-2 .cl-card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
  min-height: 350px;
}

.cl-step-2 .cl-card__list {
  margin-top: 40px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

.cl-step-2 .cl-card__list ul {
  margin-bottom: 0;
  font-weight: 400;
  padding: 0 18px;
}

.cl-step-2 .cl-card__list ul li:not(:last-child) {
  margin-bottom: 4px;
}

.cl-step-2 .cl-card__list ul li {
  margin-left: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.cl-step-2 .cl-card__list ul li:before {
  content: "";
  width: 3px;
  height: 3px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
  margin-top: 9px;
}

.cl-step-2 .cl-card__button {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cl-step-3__title {
  margin-top: 100px;
}

.cl-step-3__title p {
  text-align: center;
}

.cl-step-3 .row.cl-step-3__card-wrapper {
  margin-left: -30px;
  margin-right: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cl-step-3 .row.cl-step-3__card-wrapper > div {
  margin-top: 40px;
}

.cl-step-3__card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 72px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.cl-step-3__card-1 {
  background: url("../img/course-1.png") center/cover no-repeat;
}

.cl-step-3__card-2 {
  background: url("../img/course-2.png") center/cover no-repeat;
}

.cl-step-3__card-3 {
  background: url("../img/course-3.png") center/cover no-repeat;
}

.cl-step-3__card-4 {
  background: url("../img/course-4.png") center/cover no-repeat;
}

.cl-step-3__card-5 {
  background: url("../img/course-5.png") center/cover no-repeat;
}

.cl-step-3__card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.cl-step-3__card-title {
  position: relative;
  z-index: 5;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.cl-step-3__button {
  position: relative;
  z-index: 5;
  margin-top: auto;
}

.cl-get .row.cl-get__cards {
  margin-left: -30px;
  margin-right: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cl-get .row.cl-get__cards > div {
  margin-top: 40px;
}

.cl-get__title {
  margin-top: 100px;
  text-align: center;
}

.cl-get__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 28px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 100%;
}

.cl-get__card p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16.5px;
  font-weight: 500;
}

.cl-get__button {
  margin-top: auto;
}

.cl-price__title {
  margin-top: 100px;
  text-align: center;
}

.cl-price {
  position: relative;
}

.cl-price__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.cl-price__line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  border: 1px solid #E5E5E5;
}

.cl-price__apart {
  padding: 75px 80px;
  margin-left: auto;
  margin-right: 59px;
  max-width: 367px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cl-price__apart-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-align: center;
}

.cl-price__apart-price {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #009AF2;
  margin-top: 10px;
}

.cl-price__gross {
  padding: 85px 100px;
  background: #0380C8;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 416px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.cl-price__gross-title {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  font-weight: 500;
}

.cl-price__gross-price {
  font-size: 40px;
  line-height: 47px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 10px;
  text-align: center;
}

.cl-profit {
  margin-top: 100px;
}

.cl-profit .row {
  margin-left: -30px;
  margin-right: -30px;
}

@media (max-width: 575.98px) {
  .cl-profit .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.cl-profit__title {
  text-align: center;
}

.cl-profit__block {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-profit__block-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media (max-width: 575.98px) {
  .cl-profit__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cl-profit__img {
  width: 80px;
  height: 80px;
}

@media (max-width: 1199.98px) {
  .cl-profit__img {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 991.98px) {
  .cl-profit__img {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 767.98px) {
  .cl-profit__img {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 575.98px) {
  .cl-profit__img {
    width: 60px;
    height: 60px;
  }
}

.cl-profit__img img {
  width: auto;
  height: 100%;
}

.cl-profit__text {
  font-size: 24px;
  line-height: 28px;
  margin: 0 50px;
}

@media (max-width: 1199.98px) {
  .cl-profit__text {
    font-size: 20px;
    margin: 0 40px;
  }
}

@media (max-width: 991.98px) {
  .cl-profit__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0 25px;
  }
}

@media (max-width: 767.98px) {
  .cl-profit__text {
    font-size: 12px;
    line-height: 22px;
    margin: 0 20px;
  }
}

@media (max-width: 575.98px) {
  .cl-profit__text {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    text-align: center;
  }
}

.cl-leaders__title {
  text-align: center;
  margin-top: 100px;
}

.cl-leaders__leader-outer {
  margin-left: -30px;
  margin-right: -30px;
}

@media (max-width: 575.98px) {
  .cl-leaders__leader-outer {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.cl-leaders__leader-wrapper {
  margin-top: 60px;
}

.cl-leaders__leader-wrapper > .col-12 {
  max-width: 320px;
  margin: 0 auto;
}

.cl-leaders__photo {
  position: relative;
  overflow: hidden;
  padding-top: 134%;
  border-radius: 20px;
}

.cl-leaders__photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.cl-leaders__leader-name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 10px;
}

@media (max-width: 575.98px) {
  .cl-leaders__leader-name {
    margin-top: 20px;
  }
}

.cl-leaders__leader-post {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 0;
  margin-bottom: 10px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.cl-leaders__leader-facts {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.cl-leaders__leader-painting {
  width: 182px;
  height: 80px;
  padding-top: 10px;
  border-top: 1px solid #E5E5E5;
}

@media (max-width: 991.98px) {
  .cl-leaders__leader-painting {
    width: 140px;
    height: 62px;
  }
}

.cl-leaders__leader-painting img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cl-partners {
  /* Лента слайдов */
}

.cl-partners__title {
  margin: 100px 0 64px;
  text-align: center;
}

.cl-partners__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  background: #fff;
  border-radius: 20px;
  margin: 0 15px;
  padding: 30px 24px 40px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

@media (max-width: 575.98px) {
  .cl-partners__slider {
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cl-partners__time {
  position: absolute;
  width: 200px;
  height: 208px;
  bottom: 0;
  right: 0;
  background: url("../img/corner.svg") 100% 100% no-repeat;
  background-size: 82%;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .cl-partners__time {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 575.98px) {
  .cl-partners__time {
    width: 180px;
    height: 180px;
  }
}

.cl-partners__time-rel {
  position: relative;
  width: 100%;
  height: 100%;
}

.cl-partners__time-rel p {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-weight: 300;
  line-height: 140%;
  font-size: 16px;
  color: #FFFFFF;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .cl-partners__time-rel p {
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  .cl-partners__time-rel p {
    font-size: 15px;
  }
}

.cl-partners .slider__item:nth-child(odd) .cl-partners__slider {
  background: #005A8D;
}

.cl-partners .slider__item:nth-child(even) .cl-partners__slider {
  background: #D1EEFF;
}

.cl-partners__slider-texts-1, .cl-partners__slider-texts-2 {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 575.98px) {
  .cl-partners__slider-texts-1, .cl-partners__slider-texts-2 {
    margin-top: 20px;
    padding-left: 0;
  }
}

.cl-partners__slider-texts-1 {
  color: #fff;
}

.cl-partners__slider-texts-2 {
  color: #000;
}

.cl-partners__slider-text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  line-height: 140%;
}

.cl-partners__slider-text span {
  font-weight: 400;
}

.cl-partners__slider-pool {
  margin-top: auto;
}

.cl-partners .container .slider {
  position: relative;
  margin-left: -30px;
  margin-right: -30px;
}

@media (max-width: 575.98px) {
  .cl-partners .container .slider {
    margin-left: 0;
    margin-right: 0;
  }
}

.cl-partners .slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  font-size: 0;
  width: 35px;
  height: 35px;
}

.cl-partners .slider .slick-arrow.slick-prev {
  left: -40px;
  background: url("../img/arrow-l.svg") center/contain no-repeat;
}

@media (max-width: 1319.98px) {
  .cl-partners .slider .slick-arrow.slick-prev {
    bottom: -25px;
    top: inherit;
    left: calc(50% - 200px);
  }
}

@media (max-width: 575.98px) {
  .cl-partners .slider .slick-arrow.slick-prev {
    bottom: -25px;
    top: inherit;
    left: calc(50% - 160px);
  }
}

.cl-partners .slider .slick-arrow.slick-next {
  right: -40px;
  background: url("../img/arrow-r.svg") center/contain no-repeat;
}

@media (max-width: 1319.98px) {
  .cl-partners .slider .slick-arrow.slick-next {
    bottom: -25px;
    top: inherit;
    right: calc(50% - 200px);
  }
}

@media (max-width: 575.98px) {
  .cl-partners .slider .slick-arrow.slick-next {
    bottom: -25px;
    top: inherit;
    right: calc(50% - 160px);
  }
}

.cl-partners .cssSlider {
  display: block;
  position: relative;
  width: 35%;
  overflow: hidden;
}

.cl-partners .cssSlider .slides {
  position: relative;
  overflow: hidden;
  padding-bottom: 141%;
  list-style: none;
}

@media (max-width: 575.98px) {
  .cl-partners .cssSlider {
    width: 50%;
    min-width: 180px;
  }
}

.cl-partners .cssSlider .slides > li {
  width: 100%;
  height: 100%;
  position: absolute;
  outline: 3px solid #005A8D;
  z-index: 1;
  overflow: hidden;
}

.cl-partners .cssSlider .slides > li > img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cl-partners .cssSlider .slides > li:first-child:not(:target) {
  z-index: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.cl-partners .cssSlider .thumbnails {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  list-style: none;
  z-index: 5;
}

@media (max-width: 575.98px) {
  .cl-partners .cssSlider .thumbnails {
    margin-top: 20px;
  }
}

.cl-partners .cssSlider .thumbnails > li {
  float: left;
  width: 47%;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 6%;
  cursor: pointer;
}

.cl-partners .cssSlider .thumbnails > li:last-child {
  margin-right: 0;
}

.cl-partners .cssSlider .thumbnails > li > div {
  display: block;
  position: relative;
  padding-bottom: 141%;
}

.cl-partners .cssSlider .thumbnails > li > div > img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
}

.cl-partners .slick-list {
  overflow: hidden;
}

.cl-partners .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cl-partners .slider .slick-dots {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cl-partners .slider .slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0 8px;
}

.cl-partners .slider .slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #0380C8;
  border: 4px solid #fff;
  border-radius: 50%;
}

.cl-partners .slider .slick-dots li.slick-active button {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  background: #009AF2;
  border: 5px solid #fff;
}

.cl-pack {
  padding: 100px 0;
}

@media (max-width: 575.98px) {
  .cl-pack {
    padding: 80px 0;
  }
}

.cl-pack .row {
  margin-left: -30px;
  margin-right: -30px;
}

.cl-pack__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cl-pack__title p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .cl-pack__title p {
    font-size: 19px;
    line-height: 24px;
  }
}

@media (max-width: 991.98px) {
  .cl-pack__title {
    margin-bottom: 40px;
  }
}

.cl-pack__top {
  font-size: 16px;
  line-height: 135%;
}

@media (max-width: 991.98px) {
  .cl-pack__top {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .cl-pack__top {
    padding: 0 40px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
  }
}

.cl-pack__bottom {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .cl-pack__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .cl-pack__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cl-pack__bottom-1, .cl-pack__bottom-2, .cl-pack__bottom-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cl-pack__bottom-1 .cl-pack__bottom-title, .cl-pack__bottom-2 .cl-pack__bottom-title, .cl-pack__bottom-3 .cl-pack__bottom-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: #009AF2;
}

@media (max-width: 575.98px) {
  .cl-pack__bottom-1 .cl-pack__bottom-title, .cl-pack__bottom-2 .cl-pack__bottom-title, .cl-pack__bottom-3 .cl-pack__bottom-title {
    font-size: 28px;
    line-height: 33px;
  }
}

.cl-pack__bottom-1 .cl-pack__bottom-text, .cl-pack__bottom-2 .cl-pack__bottom-text, .cl-pack__bottom-3 .cl-pack__bottom-text {
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 575.98px) {
  .cl-pack__bottom-1 .cl-pack__bottom-text, .cl-pack__bottom-2 .cl-pack__bottom-text, .cl-pack__bottom-3 .cl-pack__bottom-text {
    font-size: 14px;
    line-height: 16.5px;
  }
}

@media (max-width: 767.98px) {
  .cl-pack__bottom-1, .cl-pack__bottom-2, .cl-pack__bottom-3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cl-pack__bottom-1 {
  margin-right: 62px;
}

@media (max-width: 767.98px) {
  .cl-pack__bottom-1 {
    margin-right: 0;
  }
}

.cl-pack__bottom-2 {
  margin-right: 50px;
}

@media (max-width: 767.98px) {
  .cl-pack__bottom-2, .cl-pack__bottom-3 {
    margin-right: 0;
    margin-top: 20px;
  }
}

.cl-ques {
  padding: 50px 0;
  background: #0380C8;
  color: #fff;
}

.cl-ques .row {
  margin-left: -30px;
  margin-right: -30px;
}

@media (max-width: 575.98px) {
  .cl-ques .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.cl-ques__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

@media (max-width: 991.98px) {
  .cl-ques__title {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .cl-ques__title {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 30px;
  }
}

.cl-ques__content-title {
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 991.98px) {
  .cl-ques__content-title {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .cl-ques__content-title {
    font-size: 15px;
    line-height: 17px;
  }
}

.cl-ques #accordion {
  margin-top: 20px;
}

.cl-ques .card {
  background: transparent;
  border: 1px solid transparent;
}

.cl-ques .card-header {
  background-color: transparent;
  padding: 26px 30px 26px 0;
  border-bottom: 1px solid #E5E5E5;
}

@media (max-width: 500px) {
  .cl-ques .card-header {
    padding: 20px 0 12px 0;
  }
}

.cl-ques .btn {
  padding: 0;
}

.cl-ques .btn-link:not(.collapsed):before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cl-ques .btn-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  width: 100%;
  display: block;
  text-align-last: left;
  position: relative;
}

@media (max-width: 500px) {
  .cl-ques .btn-link {
    font-size: 13px;
    line-height: 15px;
  }
}

.cl-ques .btn-link::before {
  background: #fff;
  content: '';
  height: 4px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 20px;
}

@media (max-width: 500px) {
  .cl-ques .btn-link::before {
    height: 3px;
    width: 15px;
  }
}

.cl-ques .btn-link::after {
  background: #fff;
  content: '';
  height: 4px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
}

@media (max-width: 500px) {
  .cl-ques .btn-link::after {
    height: 3px;
    width: 15px;
  }
}

.cl-ques .card-body {
  line-height: 150%;
}

@media (max-width: 500px) {
  .cl-ques .card-body {
    font-size: 13px;
  }
}

.cl-way .row {
  margin-left: -30px;
  margin-right: -30px;
}

.cl-way__title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
  .cl-way__title {
    font-size: 17px;
    line-height: 21px;
  }
}

@media (max-width: 767.98px) {
  .cl-way__content-padding {
    padding: 0 50px 0 60px;
  }
}

.cl-way__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 90px 0;
}

@media (max-width: 767.98px) {
  .cl-way__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cl-way__content-1 {
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

@media (max-width: 767.98px) {
  .cl-way__content-1 {
    border: none;
    border-left: 1px solid #E5E5E5;
    padding-bottom: 0;
  }
}

.cl-way__content-2 {
  padding-bottom: 0;
}

@media (max-width: 767.98px) {
  .cl-way__content-2 {
    border-left: 1px solid #E5E5E5;
    padding-top: 0;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.cl-way__stage-wrapper {
  max-width: 196px;
  padding: 0 20px;
}

@media (max-width: 1199.98px) {
  .cl-way__stage-wrapper {
    max-width: 169px;
  }
}

@media (max-width: 767.98px) {
  .cl-way__stage-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0 40px;
    max-width: 600px;
  }
}

.cl-way__stage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-way__stage::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0380C8;
  top: -61px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 767.98px) {
  .cl-way__stage::after {
    top: 30px;
    left: -40px;
  }
}

@media (max-width: 767.98px) {
  .cl-way__stage {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.cl-way__stage-a, .cl-way__stage-b {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  border-radius: 50%;
  background: #0380C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cl-way__stage-a p, .cl-way__stage-b p {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (max-width: 991.98px) {
  .cl-way__stage-a, .cl-way__stage-b {
    left: 47px;
    z-index: 5;
  }
}

.cl-way__stage-a {
  top: -20px;
}

@media (max-width: 767.98px) {
  .cl-way__stage-a {
    left: -20px;
  }
}

.cl-way__stage-b {
  bottom: -20px;
}

@media (max-width: 767.98px) {
  .cl-way__stage-b {
    display: none;
  }
}

.cl-way__stage-b-mobile {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  background: #0380C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.cl-way__stage-b-mobile p {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (max-width: 767.98px) {
  .cl-way__stage-b-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: -20px;
    left: -20px;
  }
}

@media (max-width: 767.98px) {
  .cl-way__stage-img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cl-way__stage-img {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  background: #D9D9D9;
}

.cl-way__stage-img-abs {
  display: none;
  font-size: 15px;
  line-height: 18px;
  margin-left: 15px;
}

@media (max-width: 767.98px) {
  .cl-way__stage-img-abs {
    display: block;
  }
}

.cl-way__stage-title {
  width: 80px;
  font-size: 16px;
  line-height: 19px;
  margin-top: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  .cl-way__stage-title {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.cl-way__stage-text {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  line-height: 135%;
}

@media (max-width: 767.98px) {
  .cl-way__stage-text {
    display: none;
  }
}

.cl-finance .container {
  max-width: 1140px;
}

.cl-finance__title {
  margin-top: 100px;
  text-align: center;
}

.cl-finance__fline {
  margin-top: 40px;
}

.cl-finance__fline .card-wrapper {
  height: 100%;
  padding: 5px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cl-finance__fline .card {
  height: 100%;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cl-finance__fline .card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cl-finance__fline .card__title {
  font-size: 16px;
  line-height: 135%;
  font-weight: 500;
  margin-bottom: 10px;
}

.cl-finance__fline .card__subtitle {
  font-size: 16px;
  line-height: 135%;
  margin-top: auto;
}

.cl-finance__fline .card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-finance__fline .cl-finance__fline-col {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 991.98px) {
  .cl-finance__fline .cl-finance__fline-col {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767.98px) {
  .cl-finance__fline .cl-finance__fline-col:first-child {
    margin-bottom: 20px;
  }
}

.cl-finance__sline {
  margin-top: 30px;
}

.cl-finance__sline .cl-finance__sline-col {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 991.98px) {
  .cl-finance__sline .cl-finance__sline-col {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767.98px) {
  .cl-finance__sline .cl-finance__sline-col {
    margin-bottom: 20px;
  }
}

.cl-finance__sline .card-wrapper {
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
}

.cl-finance__sline .card-wrapper .card {
  height: 100%;
  padding: 33px 45px 45px 25px;
  border: 1px soli d #E5E5E5;
  border-radius: 10px;
}

.cl-finance__sline .card-wrapper .card__title {
  font-size: 16px;
  line-height: 135%;
  font-weight: 500;
  margin-bottom: 10px;
  padding-right: 5%;
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .cl-finance__sline .card-wrapper .card__title {
    font-size: 13px;
  }
}

.cl-finance__sline .card-wrapper .card__subtitle {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .cl-finance__sline .card-wrapper .card__subtitle {
    font-size: 14px;
  }
}

.cl-finance__sline .card-wrapper .card__img {
  margin-left: auto;
  margin-top: auto;
}

@media (max-width: 767.98px) {
  .cl-finance__sline .card-wrapper .card {
    padding: 20px 25px;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .cl-finance__sline .card-wrapper .card {
    padding: 25px;
  }
}

@media (max-width: 767.98px) {
  .cl-finance__sline {
    margin-top: 20px;
  }
}

.cl-finance__tline {
  margin-top: 30px;
}

.cl-finance__tline .cl-finance__tline-col {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 991.98px) {
  .cl-finance__tline .cl-finance__tline-col {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cl-finance__tline .card-wrapper {
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
}

.cl-finance__tline .card {
  height: 100%;
  padding: 22px 25px 21px;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-finance__tline .card__title {
  font-size: 16px;
  line-height: 135%;
  font-weight: 500;
  margin-bottom: 10px;
  padding-right: 20%;
}

.cl-finance__tline .card__subtitle {
  font-size: 16px;
  line-height: 19px;
}

.cl-finance__tline .card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .cl-finance__tline {
    margin-top: 0;
  }
}

.cl-finance__tline-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 0;
}

@media (max-width: 767.98px) {
  .cl-finance__tline-text {
    text-align: center;
  }
}

.cl-finance__tline-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .cl-finance__tline-title {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.cl-finance__tline-subtitle {
  margin-top: 20px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #009AF2;
}

@media (max-width: 767.98px) {
  .cl-finance__tline-subtitle {
    margin-top: 10px;
  }
}

@media (max-width: 479.98px) {
  .cl-finance__tline-subtitle {
    font-size: 28px;
    line-height: 33px;
  }
}

.cl-other {
  margin-top: 120px;
}

.cl-other__title {
  margin-bottom: 40px;
  text-align: center;
}

.cl-other .row {
  margin-left: -30px;
  margin-right: -30px;
}

.cl-other__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 280px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.cl-other__card-1 span {
  color: #009af2;
}

.cl-other__card-2 {
  background: #009AF2;
  color: #fff;
}

.cl-other__card-2 span {
  color: #fff;
}

.cl-other__card-3 {
  background: #0380C8;
  color: #fff;
}

.cl-other__card-3 span {
  color: #fff;
}

.cl-other__medium {
  margin-top: 64px;
}

.cl-other__high {
  margin-top: 64px;
}

.cl-other__card-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

.cl-other__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cl-other__card-text-1 {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-bottom: 10px;
}

.cl-other__card-text-2 {
  font-size: 24px;
  line-height: 135%;
  margin-bottom: 10px;
}

.cl-other__card-text-3 {
  font-size: 16px;
  line-height: 135%;
}

.cl-other__card-right {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: -25px;
  margin-right: -25px;
  font-size: 16px;
  line-height: 135%;
}

.cl-other__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-top: 10px;
}

.cl-other__info .row {
  padding-left: 15px;
  padding-right: 15px;
}

.cl-other__info-title {
  font-size: 16px;
  line-height: 135%;
}

.cl-other__item {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-other__item p {
  font-size: 16px;
  line-height: 135%;
  margin-left: 20px;
  font-weight: 300;
}

.cl-other__item:first-child {
  margin-bottom: 45px;
}
