@font-face {
  font-family: 'Noir Pro';
  src: local('Noir Pro Regular'), local('Noir-Pro-Regular'),
      url('../fonts/NoirPro-Regular.woff2') format('woff2'),
      url('../fonts/NoirPro-Regular.woff') format('woff'),
      url('../fonts/NoirPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noir Pro';
  src: local('Noir Pro Medium'), local('Noir-Pro-Medium'),
      url('../fonts/NoirPro-Medium.woff2') format('woff2'),
      url('../fonts/NoirPro-Medium.woff') format('woff'),
      url('../fonts/NoirPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noir Pro';
  src: local('Noir Pro Light'), local('Noir-Pro-Light'),
      url('../fonts/NoirPro-Light.woff2') format('woff2'),
      url('../fonts/NoirPro-Light.woff') format('woff'),
      url('../fonts/NoirPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noir Pro';
  src: local('Noir Pro Bold'), local('Noir-Pro-Bold'),
      url('../fonts/NoirPro-Bold.woff2') format('woff2'),
      url('../fonts/NoirPro-Bold.woff') format('woff'),
      url('../fonts/NoirPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}