@import 'nullstyle';
@import 'fonts';


// Переменные:
$blue: #009AF2;

// Вспомогательные классы:
.cl-blue-color {
  color: $blue;
}

.cl-button-mini {
  display: block;
  background: #009AF2;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 9px 33px;
  transition: all .2s ease;

  &:hover {
    transform: scale(1.03);
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background: #007bc2;
  }
}


.title-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

// container
@media (min-width: 1200px) {
  .container{
      max-width: 1200px;
  }
}

// styles:
.cl-wrapper {
  padding-bottom: 100px;
}

.cl-allpack {
  position: relative;
  padding-top: 100px;
  padding-bottom: 56px;
  background: url('../img/bg-allpack.svg') 100% 100%/49% no-repeat;
  // background: url('../img/bg-allpack.svg') 100% 100%/contain no-repeat;

  &__clean {
    position: absolute;
    width: 309px;
    height: 309px;
    bottom: 0;
    left: 50%;
    right: 50%;

    transform: translate(-53%, 2%);
    z-index: 500;
  }
  &__clean-img {
    width: 100%;
    height: 100%;
  }

  * {
    font-family: 'Noir Pro', sans-serif;
    line-height: 135%;
  }

  &__info {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 30px;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 30px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 50px;
  }

  &__stat {
    padding-bottom: 50px;
  }

  &__stat-year {
    padding-right: 70px;
    font-size: 16px;

    span {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__stat-sum {
    font-size: 16px;

    span {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__price {
    padding-left: 8px;
    padding-bottom: 50px;
  }
  
  &__price-off {
    font-size: 20px;
    text-decoration-line: line-through;
    padding-bottom: 10px;
  }

  &__price-on {
    font-size: 24px;
    padding-bottom: 10px;
  }

  &__price-text {
    font-size: 14px;
  }

  &__group-title {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
  }
  &__group {
    max-width: 350px;
    font-size: 16px;
    font-weight: 300;
  }

  &__group-left,
  &__group-right {
    li {
      margin-left: 11px;
      // padding-left: 12px;
      display: flex;
      align-items: center;
      justify-content: start;
    }

    li:first-child {
      padding-bottom: 20px;
    }

    li::before {
      content: "";
      width: 3px;
      height: 3px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: #000;
      display: inline-block;
    }
  }
}

.cl-form {
  max-width: 483px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  &__body {
    position: relative;
  }

  &__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/loading.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease 0s;
  }
  &__body._sending::after {
    opacity: 1;
    visibility: visible;
  }

  &__title {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
  }

  &__item {
    margin: 0 0 24px 0;
  }

  &__item-input {
    border-bottom: 1px solid #E5E5E5;
  }

  &__item-input-tarif {
    margin-bottom: 40px;
    border-bottom: 1px solid transparent;
  }

  &__block {
    padding: 0 22px 0;
    font-size: 16px;
  }

  &__input {
    width: 100%;
    padding: 6px 10px;
    font-weight: 300;
    border-bottom: 1px solid transparent;
  }
  &__input._error {
    border-bottom: 1px solid red;
  }
  &__input::placeholder {
    color: #E5E5E5;
  }
  &__select {}

  &__button {
    margin-bottom: 40px;
    background: #009AF2;
    border-radius: 10px;
    padding: 15px 72px;
    color: #FFFFFF;
    transition: all .2s ease;
    position: relative;
    z-index: 1000;

    &:hover {
      transform: scale(1.03);
      color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    &:active {
      background: #007bc2;
    }
  }

  &__pact {
    font-size: 13.5px;
    text-align: center;
  }
}
.cl-checkbox {
  display: flex;
  align-items: center;

  &__input {
    display: none;
  }
  &__input:checked + &__label::after {
    transform: scale(1);
  }

  &__label {
    margin: 0 10px 0 0;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 1000;

    &::before {
      content: "";
      flex: 0 0 20px;
      align-self: flex-start;
      margin-right: 10px;
      height: 20px;
      background-color: #fff;
      border: 1px solid #444;
      border-radius: 5px;
    }

    &::after {
      transition: transform .3s ease 0s;
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: 4px;
      left: 4px;
      background-color: #888;
      border-radius: 4px;
      transform: scale(0);
    }
  }
}


//====== select =======

.__select {
  position: relative;
  font-weight: 300;
  display: flex;
  width: 100%;
  height: 40px;
  margin: 0 auto;

  z-index: 1;
  
  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }
    
    .__select__content {
      border-width: 1px;
      
      border-color: rgba(#c7ccd1, 1);
    }
    
    .__select__label {
      max-height: 45px;
      
      border-width: 1px;
      
      &::before {
        opacity: 1;
      }
    }
  }
}
.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4px 10px;
  border-bottom: 1px solid #E5E5E5;
  color: #E5E5E5;
  cursor: pointer;
  z-index: 2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: #97979760;
    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &:hover {
    border-color: #C7CCD160;

    &::before,
    &::after {
      background-color: #333333;
    }
  }

  &._error {
    border-bottom: 1px solid red;
  }
}
.__select__content {
  position: absolute;
  top: 40px;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: #ffffff;

  // border: 1px solid rgba(#c7ccd1, 0);
  // border-top-width: 0;
  // border-bottom-width: 0;
  // border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  transition: all 0.3s ease-out;

  z-index: 1;
}
.__select__input {
  display: none;
  pointer-events: none;

  &:checked + label {
    background-color: #dedede;
    
    &::after {
      content: attr(data-value);
    }
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  max-height: 0;
  padding: 0 10px;
  border-radius: 3px;
  margin-bottom: 0px;
  transition: all 0.2s ease-out;

  cursor: pointer;

  & + input + & {
    border-top: 0 solid #C7CCD160;
  }

  &:hover {
    background-color: #C7CCD160 !important;

    transition: all 0.3s ease-out;
  }

  &::before {
    content: attr(data-value);
    
    transition: all 0.2s ease-out;
    
    opacity: 0;
  }
  &::after {
    position: absolute;
    top: -40px;
    left: 0;
    
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 8px 10px;
    
    color: #333333;
    
    z-index: -1;
  }
}
// ==== / select =======

// ====== STEPS ========
.cl-steps {
  margin-top: 106px;
  .container {
    p {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
  }
}

.cl-line {
  margin-top: 90px;
  border: 1px solid #E5E5E5;

  &__relative {
    position: relative;
    width: 100%;
  }

  &__absolute-1 {
    position: absolute;
    bottom: -8px;
    left: 33%;
    
  }

  &__absolute-2 {
    position: absolute;
    bottom: -8px;
    right: 33%;
  }
}

.cl-short {
  margin-top: 30px;

  &__step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: -36px;
      left: 49%;
      border-radius: 50%;
      background: #009AF2;
    }
  }

  &__step-1 {}
  &__step-2 {}
  &__step-3 {
    .cl-short__step-title {
      max-width: 200px;
    }
  }

  &__step-title {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-align: center;
  }

  &__step-button {
    background: #009AF2;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 9px 33px;
    margin-top: 18px;
  }
}

// =========== STEP 1
.cl-step-1 {

  &__brand-name {
    margin-top: 100px;
    
    p {
      text-align: center;
      padding-bottom: 40px;
    }
  }

  &__video-title {
    padding-bottom: 40px;
  }

  &__video {
    border-radius: 20px;
    overflow: hidden;

    .video_wrapper {
      width: 100%;
      margin: 0 auto;
      position: relative;
      background-color: #000;
    }
    .video_wrapper_full {
      padding-top: 64.1%;
    }
    
    
    .videoIframe {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
    
    .videoPoster {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
     background-image:url('/img/brand-prev.png');
      background-size: 100%;
      border: none;
      text-indent: -999em;
      overflow: hidden;
      opacity: 1;
      -webkit-transition: opacity 800ms, height 0s;
      -moz-transition: opacity 800ms, height 0s;
      transition: opacity 800ms, height 0s;
      -webkit-transition-delay: 0s, 0s;
      -moz-transition-delay: 0s, 0s;
      transition-delay: 0s, 0s;
    }
    .videoPoster:hover {
      cursor: pointer;
    }
    .videoPoster:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 15%;
      height: 22%;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      -webkit-transition: border-color 300ms;
      -moz-transition: border-color 300ms;
      transition: border-color 300ms;
      transition: all 0.5s ease;
    }
    .videoPoster:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 6%;
        height: 14%;
        background: url('/img/play-triang.svg') 50% 50% no-repeat;
        transition: all 0.5s ease;
        background-size: contain;
    }
    .videoPoster:hover:before,  .videoPoster:focus:before {
        border-color: #0380C8;
        -webkit-box-shadow: 0px 0px 16px 5px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 0px 16px 5px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 0px 16px 5px rgba(34, 60, 80, 0.4);
      }
      .videoPoster:hover:after, .videoPoster:focus:after {
        border-left-color: #0380C8;
    }
    .videoWrapperActive .videoPoster {
      opacity: 0;
      height: 0;
      -webkit-transition-delay: 0s, 800ms;
      -moz-transition-delay: 0s, 800ms;
      transition-delay: 0s, 800ms;
    }
  }

  &__video-play {}

  &__partners-title {
    text-align: right;
    padding-bottom: 40px;
  }

  &__partners {
    width: 100%;
    height: auto;

    img {
      width: 100%;
    }
  }
} // =========== / STEP 1

// =========== STEP 2

.cl-step-2 {

  &__brand-type {
    margin-top: 100px;
    text-align: center;
  }

  &__clining,
  &__sale,
  &__accounting,
  &__marketing {
    border: 4px solid #009AF2;
    border-radius: 20px;
    margin-top: 60px;
    padding: 40px 15px;

  }

  .col-6.cl-step-2__clining-block,
  .col-6.cl-step-2__sale-block {
    padding-right: 30px;
    padding-left: 0;
  }
  .col-6.cl-step-2__marketing-block,
  .col-6.cl-step-2__accounting-block {
    padding-left: 30px;
    padding-right: 0;
  }

  &__clining-title,
  &__sale-title,
  &__accounting-title,
  &__marketing-title {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 25px;
  }

  &__bottom-title {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
  }

  &__times {
    margin-top: 20px;
  }

  &__times-content {
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  &__bottom-img-l {}

  &__bottom-text-l,
  &__bottom-text-r {
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    margin-left: 20px;
  }

  &__bottom-img-r {}

  &__bottom-text-r {}

  .col-6.cl-card-l {
    padding-right: 5px;
  }
  .col-6.cl-card-r {
    padding-left: 5px;
  }
  .cl-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0;
    min-height: 350px;
  
    &__img {}
  
    &__list {
      // align-self: flex-start;
      margin-top: 40px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 300;
  
      ul {
        margin-bottom: 0;
        font-weight: 400;
        padding: 0 18px;
  
        li:not(:last-child) {
          margin-bottom: 4px;
        }

        li {
          margin-left: 11px;
          display: flex;
          align-items: flex-start;
          justify-content: start;
        }

        li:before {
          content: "";
          width: 3px;
          height: 3px;
          margin-right: 10px;
          border-radius: 50%;
          background-color: #000;
          display: inline-block;
          margin-top: 9px;
        }
      }
    }
  
    &__button {
      margin-top: auto;
      display: flex;
    }
  }
} // =========== / STEP 2

// =========== STEP 3
.cl-step-3 {

  &__title {
    margin-top: 100px;

    p {
      text-align: center;
    }
  }

  .row.cl-step-3__card-wrapper {
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    align-items: stretch;

    > div {
      margin-top: 40px;
    }

  }

  &__card {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 72px 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__card-1 {
    background: url("/img/course-1.png") center/cover no-repeat;
  }
  &__card-2 {
    background: url("/img/course-2.png") center/cover no-repeat;
  }
  &__card-3 {
    background: url("/img/course-3.png") center/cover no-repeat;
  }
  &__card-4 {
    background: url("/img/course-4.png") center/cover no-repeat;
  }
  &__card-5 {
    background: url("/img/course-5.png") center/cover no-repeat;
  }

  &__card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: 2;
  }

  

  &__card-title {
    position: relative;
    z-index: 5;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
  }

  &__button {
    position: relative;
    z-index: 5;
    margin-top: auto;
  } 
} 
// =========== / STEP 3

// =========== GET
.cl-get {
  .row.cl-get__cards {
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    align-items: stretch;

    > div {
      margin-top: 40px;
    }
  }

  .container {
  }
  .row {
  }

  &__title {
    margin-top: 100px;
    text-align: center;
  }

  &__cards {}

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 28px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 100%;

    p {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 16.5px;
      font-weight: 500;
    }
  }

  &__img {}

  &__button {
    margin-top: auto;
  }
}


